.aboutSection {
  margin: 1em 0;
  border-top: 3px dashed #000000;
  border-bottom: 3px dashed #000000;
}

@media (prefers-color-scheme: dark) {
  .aboutSection {
    border-top: 3px dashed #ffffff;
    border-bottom: 3px dashed #ffffff;
  }
}

.aboutContainer {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 500px){
  .aboutContainer {
    width: 85%;
  }
}

.aboutContainer h6 {
  margin: 1.8em 0;
}