header {
  background: #B947A7;
  border-bottom: 3px solid #000000;
}

.headerContainer {
  display: flex;
  justify-content: center;
  text-align: left;
  letter-spacing: -0.01em;
}

.headerContainer h1 {
  line-height: 1;
}