header {
  background: #B947A7;
  border-bottom: 3px solid #000000;
}

header.showLinks {
  background: rgba(185, 71, 167, 0.5);
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  text-align: left;
  letter-spacing: -0.01em;
}

.headerTextContainer {
  width: 60%;
  position: relative;
}

.headerContainer h1 {
  line-height: 1;
}

.headerContainer.showLinks h1 {
  visibility: hidden;
}

.menuContainer {
  width: 1em;
}

.menuIcon {
  font-size: 1.5em;
  margin-top: 1.5em;
}

.menuIcon:hover {
  cursor: pointer;
}

.menuLinks {
  position: absolute;
  top: 3em;
  right: 0;
  display: none;
}

.menuLinks.showLinks {
  display: block;
}

.menuLinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}