header {
  background: #B947A7;
  border-bottom: 3px solid #000000;
}

@media (prefers-color-scheme: dark) {
  header {
    border-bottom: 3px solid #ffffff;
  }
}

header.showLinks {
  background: rgba(185, 71, 167, 0.5);
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  text-align: left;
  letter-spacing: -0.01em;
}

.headerTextContainer {
  width: 60%;
  position: relative;
}

.headerContainer h2 {
  line-height: 1;
}

.headerContainer.showLinks h2 {
  visibility: hidden;
}

.menuContainer {
  width: 1em;
}

.menuIcon {
  font-size: 1.5em;
  margin-top: 1.5em;
}

.menuIcon:hover {
  cursor: pointer;
}

.menuLinks {
  position: absolute;
  top: 2.5em;
  right: 0;
  display: none;
  font-size: 0.8em;
}

.menuLinks.showLinks {
  display: block;
}

.menuLinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}