.locationCard {
  border: 3px solid #000000;
  box-sizing: border-box;
  width: 30%;
  height: 9em;
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.locationCard.hideCard {
  height: 0;
  visibility: hidden;
}

.locationCard p {
  margin: 0.1em 0;
  font-size: 0.8em;
}

.timeText {
  font-weight: bold;
}

.locationCard p.lastReportedText {
  font-size: 0.7em;
}