.locationCard {
  border: 3px solid #000000;
  box-sizing: border-box;
  width: 30%;
  height: 9em;
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

@media screen and (max-width: 500px){
  .locationCard {
    width: 100%;
  }
}

.locationCard.grey {
  background-color: #DAD7CF;
}

.locationCard.black {
  background-color: #000000;
  color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  .locationCard {
    background-color: #B947A7;
    ;
    border-color: #ffffff;
  }
  
  .locationCard.grey {
    background-color: #541445;
    ;
  }
  
  .locationCard.black {
    background-color: #332A32;
    color: #FFFFFF;
  }
}

.locationCard.hideCard {
  height: 0;
  visibility: hidden;
}

.locationCard p {
  margin: 0.1em 0;
  font-size: 0.8em;
}

.timeText {
  font-weight: bold;
}

.locationCard p.lastReportedText {
  font-size: 0.55em;
}