.searchBar {
  border: 3px solid #000000;
  box-sizing: border-box;
  width: 40%;
  height: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 500px){
  .searchBar {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .searchBar {
    border: 3px solid #ffffff;
  }
  .searchInputContainer input {
    border: none;
    background-color: #000000;
    color: #ffffff;
  }
}

.searchIconContainer {
  padding: 1em;
}

.searchInputContainer {
  overflow: hidden;
}

.searchInputContainer input {
  border: none;
  height: 2.7em;
  width: 20em;
}
.searchInputContainer input:focus {
  outline: none;
}