.searchBar {
  border: 3px solid #000000;
  box-sizing: border-box;
  width: 40%;
  height: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchIconContainer {
  padding: 1em;
}

.searchInputContainer input {
  border: none;
}
.searchInputContainer input:focus {
  outline: none;
}