.waitTimeSection {
  margin: 5em 0;
}

.waitTimeContainer {
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: column;
}

@media screen and (max-width: 500px){
  .waitTimeContainer {
    width: 85%;
  }
}

.waitTimeContainer h6 {
  margin: 0.5em 0;
}

/* .waitTimeContainer input {
  width: 100em;
  height: 2.7em;
  border: 4px solid black;
} */

.locationCardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}